<div mat-dialog-content>

    <div class="swal-icon swal-icon--success">
        <span class="swal-icon--success__line swal-icon--success__line--long"></span>
        <span class="swal-icon--success__line swal-icon--success__line--tip"></span>

        <div class="swal-icon--success__ring"></div>
        <div class="swal-icon--success__hide-corners"></div>
    </div>
    <div class="swal-title">
        Referral Code created Successfully!
    </div>
    <div class="swal-text">
        <span>http://userId123455/mobile0011</span>
        <div class="flex-w flex-m p-l-100 p-t-40 respon7">


            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                <i class="fa fa-facebook"></i>
            </a>

            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                <i class="fa fa-twitter"></i>
            </a>

            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                <i class="fa fa-google-plus"></i>
            </a>
        </div>
    </div>
    <div class="swal-footer">
        <div class="swal-button-container">

            <button [mat-dialog-close]="true" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 mat-button">OK</button>

        </div>

    </div>
</div>
