<div class="row">
    <div class="text-center col-md-12">
        Update product
    </div>
</div>


<div *ngIf="data['product']['categoryName']==='LAPTOP'" class="row">
    <form [formGroup]="laptopForm" class="col-md-12">
        <div class="col-md-6">
            <mat-form-field>
                <input matInput formControlName="name" placeholder="Name">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="brand" placeholder="Brand Name">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="imageURL" placeholder="Image Url">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="processor" placeholder="Processor">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="OS" placeholder="Operating System">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="storage" placeholder="Storage in GB">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field>
                <input matInput formControlName="price" placeholder="Price in Rupees">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="description" placeholder="Description">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="maximumDiscount" placeholder="Maximum Discount Allowed">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="RAM" placeholder="RAM in GB">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="displaySize" placeholder="Display Size in Inch">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12 text-center">
            <button (click)="updateLaptop()" [disabled]="laptopForm.invalid" style="margin-left: 200px;" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 mat-button">Update Laptop</button>
        </div>
    </div>
</div>

<div *ngIf="data['product']['categoryName']==='TV'" class="row">
    <form [formGroup]="tvForm" class="col-md-12">
        <div class="col-md-6">
            <mat-form-field>
                <input matInput formControlName="name" placeholder="Name">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="brand" placeholder="Brand Name">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="imageURL" placeholder="Image Url">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="screenSize" placeholder="Screen Size in Inch">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="smartTv" placeholder="Smart Tv Yes/No">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>


        </div>
        <div class="col-md-6">
            <mat-form-field>
                <input matInput formControlName="price" placeholder="Price in Rupees">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="description" placeholder="Description">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="maximumDiscount" placeholder="Maximum Discount Allowed">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="screenType" placeholder="Screen Type LCD/ LED">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="speakerOutput" placeholder="Speaker Output in Watts">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12 text-center">
            <button (click)="updateTV()" [disabled]="tvForm.invalid" style="margin-left: 200px;" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 mat-button">Update TV</button>
        </div>
    </div>
</div>

<div *ngIf="data['product']['categoryName']==='MOBILE'" class="row">
    <form [formGroup]="mobileForm" class="col-md-12">
        <div class="col-md-6">
            <mat-form-field>
                <input matInput formControlName="name" placeholder="Name">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="brand" placeholder="Brand Name">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="imageURL" placeholder="Image Url">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="screenSize" placeholder="Screen Size in Inch">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="battery" placeholder="Battery in mAh">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="memory" placeholder="Internal Memory in GB">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>


        </div>
        <div class="col-md-6">
            <mat-form-field>
                <input matInput formControlName="price" placeholder="Price in Rupees">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="description" placeholder="Description">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="maximumDiscount" placeholder="Maximum Discount Allowed">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="RAM" placeholder="RAM in GB">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="noOfSIM" placeholder="Number of SIM">
                <mat-error>Please Enter a Valid Input</mat-error>
            </mat-form-field>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12 text-center">
            <button (click)="updateMobile()" [disabled]="mobileForm.invalid" style="margin-left: 200px;" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 mat-button">Update Mobile</button>
        </div>
    </div>
</div>
