<div mat-dialog-content>

    <div class="swal-icon swal-icon--success">
        <span class="swal-icon--success__line swal-icon--success__line--long"></span>
        <span class="swal-icon--success__line swal-icon--success__line--tip"></span>

        <div class="swal-icon--success__ring"></div>
        <div class="swal-icon--success__hide-corners"></div>
    </div>
    <div class="swal-title">
        Delete {{data.name}}?
    </div>
    <div class="swal-footer">
        <div class="swal-button-container">

            <button [mat-dialog-close]="false" class="btn btn-default ">No,Keep It</button> &nbsp;
            <button [mat-dialog-close]="true" class="btn btn-danger">Yes, {{data.action}}</button>

        </div>

    </div>
</div>
