<!-- <section class="section-slide">
    <div class="wrap-slick1 rs2-slick1">
        <div class="slick1">
            <div class="item-slick1 bg-overlay1" style="background-image: url(assets/images/slide-01.jpg);" data-thumb="assets/images/thumb-01.jpg" data-caption="Women’s Wear">
                <div class="container h-full">
                    <div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-202 txt-center cl0 respon2">
                                Electronic Collection 2018
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                            <h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
                                New arrivals
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                            <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->

<!-- <div class="item-slick1 bg-overlay1" style="background-image: url(assets/images/slide-02.jpg);" data-thumb="assets/images/thumb-02.jpg" data-caption="Men’s Wear">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									Electronic Gadgets
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									Mobiles & Laptops
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div> -->

<!-- </div>

    </div>

  </section> -->
<!--
<div class="container">
    <div class="ism-slider" id="my-slider">
        <div class="ism-frame">
            <ol class="ism-slides" style="width: 400%; perspective: 1000px; backface-visibility: hidden; transform: translateX(0px);">
                <li class="ism-slide ism-slide-0" style="width: 25%; left: 0%;">
                    <div class="ism-img-frame">
                        <img src="../../../assets/images/slides/_u/1526368708896_456556.jpg" class="ism-img">
                    </div>
                    <div class="ism-caption ism-caption-0 ism-caption-anim" style="visibility: visible;">My slide caption text</div>
                </li>
                <li class="ism-slide ism-slide-1" style="width: 25%; left: 25%;">
                    <div class="ism-img-frame">
                        <img src="../../../assets/images/slides/_u/1526368776530_191740.jpg" class="ism-img">
                    </div>
                    <div class="ism-caption ism-caption-0" style="visibility: hidden;">My slide caption text</div>
                </li>
                <li class="ism-slide ism-slide-2" style="width: 25%; left: 50%;">
                    <div class="ism-img-frame">
                        <img src="../../../assets/images/slides/_u/1526368753756_266305.jpg" class="ism-img">
                    </div>
                    <div class="ism-caption ism-caption-0" style="visibility: hidden;">My slide caption text</div>
                </li>
                <li class="ism-slide ism-slide-3" style="width: 25%; left: 75%;">
                    <div class="ism-img-frame">
                        <img src="../../../assets/images/slides/_u/1526368728089_450773.jpg" class="ism-img">
                    </div>
                    <div class="ism-caption ism-caption-0" style="visibility: hidden;">My slide caption text</div>
                </li>
            </ol>
            <div class="ism-button ism-button-prev">&nbsp;</div>
            <div class="ism-button ism-button-next">&nbsp;</div>
        </div>
        <ul class="ism-radios">
            <li class="ism-radio-0 active">
                <input type="radio" name="ism-radio" class="ism-radio" id="ism-radio-0" checked="checked">
                <label class="ism-radio-label" for="ism-radio-0"></label>
            </li>
            <li class="ism-radio-1">
                <input type="radio" name="ism-radio" class="ism-radio" id="ism-radio-1">
                <label class="ism-radio-label" for="ism-radio-1"></label>
            </li>
            <li class="ism-radio-2">
                <input type="radio" name="ism-radio" class="ism-radio" id="ism-radio-2">
                <label class="ism-radio-label" for="ism-radio-2"></label>
            </li>
            <li class="ism-radio-3">
                <input type="radio" name="ism-radio" class="ism-radio" id="ism-radio-3" checked="checked">
                <label class="ism-radio-label" for="ism-radio-3"></label>
            </li>
        </ul>
    </div>
</div> -->

<!-- <div style="height: 400px;">
    <ngx-slider [init]="slider"></ngx-slider>
</div> -->
