<section class="bg0 p-t-23 p-b-140" style="background-color:#7f8ba5">
    <div class="container" >
        <div class="p-b-10">
            <h3 class="ltext-102 cl5">
                View Product
            </h3>
            <button style="margin-top: -50px;margin-left: 900px;"  class="flex-c-m stext-101 cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04" (click)="addProduct()">
                Add Product
            </button>
        </div>
        <div class="flex-w flex-sb-m p-b-52">
            <ng2-smart-table [settings]="settings" (edit)="editProduct($event)" [source]="source" (delete)="onDeleteConfirm($event)">
            </ng2-smart-table>
        </div>
    </div>
</section>
