<div class="container">
    <form (ngSubmit)="signUp()" [formGroup]="registerForm" class="signUp">
        <h3>Create Your Account</h3>
        <input formControlName="name" type="text" placeholder="Enter UserName"  autocomplete='off'/>
        <input formControlName="email" type="email" placeholder="Enter eMail" autocomplete='off' />
        <input formControlName="password" type="password" placeholder="Enter Password" autocomplete='off' />
        <input formControlName="referee" type="type" placeholder="Referral Code" />
        <input formControlName="mobile" type="mobile" placeholder="Enter Mobile Number" autocomplete='off' />
        <button #loginButton class="form-btn sx log-in" type="button">Log In</button>
        <button class="form-btn dx" type="submit">Sign Up</button>
    </form>
    <form (ngSubmit)="login()" [formGroup]="loginForm" class="signIn">
        <h3>Welcome
            <br> Back !</h3>
        <!-- <button class="fb" type="button">Log In With Facebook</button> -->
        <!-- <p>- or -</p> -->
        <input formControlName="email" type="text" placeholder="Enter Email" required  autocomplete='off'/>
        <input formControlName="password" type="password" placeholder="Enter Password" required  autocomplete='off'/>
        <button class="form-btn sx back" type="button">Back</button>
        <button class="form-btn dx" type="submit">Log In</button>
    </form>
</div>
